body, #root, #app{
  height: 100%;
  min-height: 100vh;
  min-width: 100%;
}

/*bg image*/

#app{
  position: relative;
  background: url('./assets/images/home.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

/*centralise main header*/

h1#main{
	position: relative;
  color: white;
  font-size: 60px;
  text-align: center;
  top: 50px;
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 2px 2px 2px #000
}

/*centralise order button*/
a#order{
  position: absolute;
  display: inline-block;
 	margin: 0 auto;
 	top: 60%;
 	left: 50%;
 	transform: translateX(-50%);
}